<script lang="ts">
    //import type { FeedBack } from "src/model/feedback";
    //import { onMount, onDestroy } from "svelte";
    import { fade, scale } from "svelte/transition";
    import { FeedBackStore } from "../stores";
    import FeedBackItem from "./FeedBackItem.svelte";
    
    /*
    let feedback: FeedBack[] = [];

    const unsubscribe = FeedBackStore.subscribe((data) => {
        feedback = data;
    })

    onMount(()=> {
        console.log('mounted')
    })

    onDestroy(()=> {
        unsubscribe()
    })

    console.log(feedback)
    */
</script>

{#each $FeedBackStore as fb (fb.id)}
    <div in:scale out:fade={{ duration: 500 }}>
        <FeedBackItem item={fb} />
    </div>
{/each}
