<script lang="ts">
    import type { FeedBack } from "src/model/feedback";
    import Card from "./Card.svelte";
    export let item: FeedBack;
    import { FeedBackStore } from "../stores";

    const handleDelete = (itemId: string) => {
        FeedBackStore.update((current) => 
             current.filter((it) => it.id !== itemId)
        );
    };
</script>

<Card>
    <div class="num-display">
        {item.rating}
    </div>
    <button class="close" on:click={() => handleDelete(item.id)}> X </button>
    <p class="text-display">
        {item.text}
    </p>
</Card>

<style>
    .num-display {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 50px;
        height: 50px;
        background: #ff6a95;
        color: #fff;
        border: 1px #eee solid;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        font-size: 19px;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        background: none;
        border: none;
    }
</style>
