<script lang="ts">
    import type { FeedBack } from "src/model/feedback";
import { createEventDispatcher } from "svelte";
    import { v4 as uuidv4 } from "uuid";
    import Button from "./Button.svelte";
    import Card from "./Card.svelte";
    import RatingSelect from "./RatingSelect.svelte";

    let text = "";
    let rating = 10;
    let btnDisabled = true;
    let min = 10;
    let message = "";

    const dispacher = createEventDispatcher();

    const handleInput = () => {
        btnDisabled = text.trim().length < min;
        message = btnDisabled
            ? `Text must be at least ${min} characters`
            : null;
    };

    const handleSelect = (e: CustomEvent<number>) => {
        rating = e.detail;
    };

    const handleSubmit = () => {
        if (text.trim().length <= min) {
            return;
        }

        const newFeedBack: FeedBack = {
            text,
            rating,
            id: uuidv4(),
        }

        dispacher('add-feedback', newFeedBack)

        text = ''
        rating = 10
    };
</script>

<Card>
    <form on:submit|preventDefault={handleSubmit}>
        <!--Rating select-->
        <RatingSelect on:rating-select={handleSelect} />
        <header>
            <h2>How would you rate your service with us?</h2>
        </header>

        <div class="input-group">
            <input
                type="text"
                bind:value={text}
                on:input={handleInput}
                placeholder="Tell us something that keeps you coming back"
            />
            <Button type="submit" disabled={btnDisabled}>Send</Button>
        </div>
        {#if message}
            <div class="message">
                {message}
            </div>
        {/if}
    </form>
</Card>

<style>
    header {
        max-width: 400px;
        margin: auto;
    }
    header h2 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    .input-group {
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        padding: 8px 10px;
        border-radius: 8px;
        margin-top: 15px;
    }
    input {
        flex-grow: 2;
        border: none;
        font-size: 16px;
    }
    input:focus {
        outline: none;
    }
    .message {
        padding-top: 10px;
        text-align: center;
        color: rebeccapurple;
    }
</style>
