<script lang="ts">
  import type { FeedBack } from "./model/feedback";
  import FeedBackList from "./components/FeedBackList.svelte";
  import FeedBackStats from "./components/FeedBackStats.svelte";
  import FeedBackForm from "./components/FeedBackForm.svelte";
  import { FeedBackStore } from "./stores";
  const addFeedback = ({detail}: CustomEvent<FeedBack>) => {
      FeedBackStore.update((current)=> [
        detail, ...current]
      )
  };
</script>

<main class="container">
  <FeedBackForm on:add-feedback={addFeedback} />
  <FeedBackStats />
  <FeedBackList />
</main>
